{% extends 'base.html' %}
{% block content %}

<div class="container">
    <table class="table">
    <tbody>
        <tr>
          <th>Subject</th>
            <td>{{report.subject}}</td>
        </tr>
        <tr>
          <th>Description</th>
            <td>{{report.description}}</td>
        </tr>
        <tr>
          <th>Reported by</th>
            <td>{{report.author}}</td>
        </tr>
        <tr>
          <th>Reported on  </th>
            <td>{{report.date}}</td>
        </tr>
        {%if investigation_report%}
       <tr>
          <th>Investigated by</th>
            <td>{{investigation_report.author}}</td>
        </tr>
        <tr>
          <th>Report Status: </th>
            {% if investigation_report.is_valid%}
            <td>Valid</td>
            {% else %}
            <td>Invalid</td>
            {% endif %}
        </tr>
        {% endif %}
      </tbody>
  </table><br>
    {% if not investigation_report %}
   <a href="{% url 'management:validate-improvement' report.id 'valid'  %}" class="btn btn-info" role="button">Mark Valid</a>
   <a href="{% url 'management:validate-improvement' report.id 'invalid' %}" class="btn btn-info" role="button">Mark Invalid</a><br><br>
    {% endif %}
   <a href="{% url 'management:list-improvement' %}" class="btn btn-info" role="button">Back to Homepage</a>
</div>
{% endblock %}
