{% extends 'base.html' %}
{% block content %}

{% if malfunction_list %}
<div class="container" >
  <h4><strong>Malfunction Reports:</strong></h4>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Subject</th>
      </tr>
    </thead>
    <tbody>
    {% for report in malfunction_list %}
    <tr>
        <td><a  href="{% url 'management:detail-malfunction' report.id %} ">{{ report.subject }}</a></td>
        <td><a class="btn btn-primary" href="{% url 'management:detail-malfunction' report.id %} ">View Report</a></td>
        {% if report.is_investigated%}
        <td><h5>Status: <strong>Investigated</strong></h5></td>
        {% else %}
        <td><h5>Status: <strong>Needs Investigation</strong></h5></td>
        {% endif %}
    </tr>
     {% endfor %}
    </tbody>
  </table>
</div>
    {% else %}
     <p class="bg-danger">No Malfunction Reports are available.</p>
{% endif %}
{% endblock %}
