 {% extends 'base.html' %}
{% block content %}

<div class="container">
    <h4>You have marked following report as valid. Now create task for this valid report: </h4>
    <table class="table">
    <tbody>
        <tr>
          <th>Subject</th>
            <td>{{report.subject}}</td>
        </tr>
        <tr>
          <th>Description</th>
            <td>{{report.description}}</td>
        </tr>
        <tr>
          <th>Reported by</th>
            <td>{{report.author}}</td>
        </tr>
        <tr>
          <th>Reported on  </th>
            <td>{{report.date}}</td>
        </tr>
       <tr>
          <th>Investigated by</th>
            <td>{{investigate_mal.author}}</td>
        </tr>
        <tr>
          <th>Report Status: </th>
            {% if investigate_mal.is_valid%}
            <td>Valid</td>
            {% else %}
            <td>Invalid</td>
            {% endif %}
        </tr>
      </tbody>
  </table><br>
  <a href="{% url 'management:create-malfunction-task' investigate_mal.id %}" class="btn btn-info" role="button">Create Task</a>
</div>

{% endblock %}
